*{
    padding:0;
    margin: 0;
    font-family: 'Concert One', cursive;
}

body{
    overflow-x: hidden;
    position: relative;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
}

.line{
    width: 150px;
    height: 5px;
    background-color: darkorange;
    border-radius: 20px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: 50px;

}
/* HEADER */

.nav-bar{
    height: 85px;
    display: flex;
    justify-content: space-around;
    background: #000;
    border-bottom: 2px solid darkorange;
    align-items: center;
}

.logo{
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.logo img{
    width: 120px;
}

.logo-text{
    font-size: 25px;
    font-weight: 900;
    color: darkorange;
    cursor: pointer;
}

.logo-text span{
    color: #fff;
}

.fa-bars{
    display: none;
}

.nav-links{
    display: flex;
    margin-right: 15px ;
    list-style-type: none;
}

.nav-links li a{
    color: #fff;
    margin-right: 20px;
}

.nav-links li a:hover{
    color: darkorange;
}

.btn{
    color: #fff;
    background-color: darkorange;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
   
}

.btn:hover{
    color: darkorange;
    background-color: #fff;
}

/* GAMING IMAGES SECTION 1 */

#gaming-images{
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0 200px;
    animation: slider 30s infinite;
    animation-direction: normal;
    
}

/* ANIMATION */

@keyframes slider {
    0%{
        background: url(./images/slider-1.jpg.webp);
    }
    25%{
        background: url(./images/bg2.jpg);
    }
    50%{
        background: url(./images/bg-3.png);
    }
    75%{
        background: url(./images/bg-4.jpg);
       
    }
    100%{
        background: url(./images/bg-5.jpg);
    }
}

.gaming-text{
    position: absolute;
    margin-top: 280px;
    color: #fff;
}

.gaming-text h1{
    font-size: 60px;
}

.gaming-text p{
    margin: 40px 0;
}
.gaming-text span{
    color: darkorange;
}

/* .arrow{
    width: 60px;
    height: 60px;
    font-size: 28px;
    background-color: #00000070;
    color: darkorange;
    border-radius: 50%;
    padding: 14px 20px;
    box-sizing: border-box;
    position: absolute;
    top:50%;
    cursor: pointer;
}

.left{
    left: 25px;
}

.right{
    right:25px
} */




/* LATEST NEWS SECTION2 */

.flex h5{
    padding: 25px 0;
    flex-basis: 25%;
    font-size: 25px;
    background-color: darkorange;
    color: #fff;
    text-align: center;
}

.news-container{
    width: 200%;
    flex-basis: 75%;
    color: #fff;
    font-size: 18px;
    display: flex;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
}

.badge{
    padding: 5px 10px;
    font-size: 15px;
    margin-right: 15px;
    color: #fff;
}

.new{
    background-color: palevioletred;
}

.strategy{
    background-color: lightgreen;
}

.racing{
    background-color: purple;
}

.action{
    background-color: royalblue;
}

/* GENRE BOXES SECTION3 */

.genre-boxes{
    display: flex;
    margin: 100px 150px;
    cursor: pointer;
}

.genre{
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    height: 450px;
    flex-basis: 25%;
}

.grid-boxes-text{
    color: #fff;
    background: transparent;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.grid-boxes-text:hover{
    background: rgba(0,0,0,0.8);
}

.grid-boxes-text h2{
    font-size: 25px;
    font-weight: 500;
}

.grid-boxes-text h2, .grid-boxes-text p{
    color: #fff;
    bottom: 0px;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
    
}

.grid-boxes-text:hover h2{
    opacity: 1;
    bottom: 100px;   
    color: darkorange;
}

.grid-boxes-text:hover p{
    opacity: 1;
    bottom: 50px;   
}

.grid-boxes-text:hover span{
    display: none;   
}

.new-bg{
    background-image: url(./images/new.jpg);

}

.strategy-bg{
    background-image: url(./images/strategy.jpg);
}

.racing-bg{
    background-image: url(./images/racing.jpg);
}

.action-bg{
    background-image: url(./images/action.jpg);
}

/* RECENT GAMES SECTION4 */

#recent-games{
    height: 100vh;
    background-image: url(./images/recent-game-bg.png.webp);
    background-color: lightsteelblue;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 180px;
    box-sizing: border-box;
}

#recent-games h2{
    margin-bottom: 20px;
    font-size: 40px;
    text-shadow: 2px 2px 5px gray;
    
}

.recent-games-container{
    display: flex;
    justify-content: space-between;
}

.recent-game{
    flex-basis: 30%;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
}

.recent-game:hover{
    transform: scale(1.1);
}

.recent-actionbg{
    background-image: url(./images/recent-action.jpg);
    background-position: center;
    background-size: cover;
    height: 25vh;
}

.recent-racingbg{
    background-image: url(./images/recent-racing.jpg);
    background-position: center;
    background-size: cover;
    height: 25vh;
}

.recent-strategybg{
    background-image: url(./images/recent-strategy.jpg);
    background-position: center;
    background-size: cover;
    height: 25vh;
}

.recent-game .badge{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    box-shadow: 2px 2px 10px gray;
}

.recent-text{
    background-color: #fff;
    padding: 20px 15px 50px 15px;
    text-align: left;
    position: relative;
}

.recent-text h3{
    margin: 20px 0;
}

.recent-text p{
    color: gray;
}

.icons{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.icons .fas{
    font-size: 25px;
    cursor: pointer;
}

/* PREMUIM TOUNAMENTS */

#premuim-tournaments{
    background: url(./images/premuim-tournaments-bg.webp);
    padding-top: 30px;
    box-sizing: border-box;
}

#premuim-tournaments h2{
    margin-left: 39%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 35px;
    color: #fff;
    text-shadow: 3px 3px 5px black;
}

.premuim-tournaments{
    height: 50vh;
    padding: 0px 180px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.tournament{
    background: #272727;
    width: 550px;
    height: 300px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.tournament:hover{
    transform: translateY(-10px);
}

.tournament-img img{
    width: 200px;
}

.tournament-text{
    margin-left: 15px;
    align-items: center;
}

.tournament-text h3{
    color: darkorange;
    margin-bottom: 30px;
    font-size: 30px;
}

.tournament-text h6{
    color: darkorange;
    margin: 20px 0;
    font-size: 14px;
}

.tournament-text p{
    color: #fff;
    font-size: 14px;
}

.tournament-text span{
    color: #9a9a9a;
}

.tournament-text .btn{
    font-size: 12px;
    padding: 5px 20px;
}


/* GAME REVIEWS */

#reviews{
    height: 100vh;
    background-image: url(./images/review-bg.png.webp);
    background-color: wheat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 80px 150px;
    box-sizing: border-box;
}

#reviews h2{
    margin-bottom: 20px;
    font-size: 40px;
    text-shadow: 2px 2px 5px gray;
    
}

.review-games-container{
    display: flex;
    justify-content: space-between;
}

.review-game{
    flex-basis: 23%;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
}

.review-actionbg{
    background-image: url(./images/assassin.png);
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.review-racingbg{
    background-image: url(./images/inertial-drift.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.review-strategybg{
    background-image: url(./images/kings.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.review-newbg{
    background-image: url(./images/cyberpunk.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.review-game .rating{
    padding: 13px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    box-shadow: 2px 2px 10px gray;
    color: #fff;
    box-sizing: border-box;
    font-size: 25px;
}

.review-text{
    background-color: #fff;
    padding: 10px 15px 25px 15px;
    text-align: left;
    position: relative;
    text-align: center;
}

.review-text h3{
    margin: 25px 0 10px 0;
}

.review-text p{
    color: gray;
}

/* LAST SECTION */

#last{
    background: url(./images/premuim-tournaments-bg.webp);
    height: 100vh;
    display: flex;
    padding: 80px 120px;
    box-sizing: border-box;
    justify-content: space-between;
}

.last-col{
    background-color: #272727;
    width: 350px;
    padding: 25px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}

.last-col h3{
    font-size: 25px;
    margin-bottom: 15px;
}

/* FOOTER */

footer{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #000;
    box-sizing: border-box;
    align-items: center;
}

.social-links .fab{
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.social-links .fab:hover{
    color: darkorange;
}

.home{
    top: 84%;
    left: 4%;
    position: fixed;
}

.home .fas{
    font-size: 40px;
    color: darkorange;
    background-color: #000;
    border-radius: 50%;
}